name: Aspect Workflows CI (Node.js GCP Example)

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  aspect_workflows:
    name: Aspect Workflows
    runs-on: [self-hosted, aspect-workflows, aspect-default]

    env:
      ASPECT_WORKFLOWS_BIN_DIR: /etc/aspect/workflows/bin

    steps:
      - name: Workflows Environment Setup
        run: ${ASPECT_WORKFLOWS_BIN_DIR}/configure_workflows_env

      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Agent Health Check
        run: ${ASPECT_WORKFLOWS_BIN_DIR}/agent_health_check

      - name: Run Build
        uses: aspect-build/workflows-action@5.14.21
        with:
          task: build
          workspace: .
